*{
    margin: 0;
    padding: 0;
}
.text-60{
    font-size: 80px;
}

.Timer-container{
    border: 2px solid;
    width: 400px;
    height: 200px;
    text-align: center;
    margin: 0px auto;
    position: relative;
    top: 210px;
    border: 5px solid greenyellow;
}